@media screen and (max-width: 378px) {
	.logo-block {
		display: block;
	}
}

@media screen and (max-width: 786px) {
	header {
		height: auto;
	}
	.logo-block {
		flex-direction: row;
		align-items: flex-end;
	}
	.languages {
		margin-left: 10px;
	}
	.logo-wrapper {
		width: auto;
	}
}

.navigation nav.active{
	display: block;
}
@media screen and (max-width: 992px) {
	.navigation nav{
		display: none;
	}
	.navigation nav ul a {
		padding: 10px;
		display: block;
		color: white;
		border-bottom: 1px solid #253f7e;
	}
	.navigation nav > ul{
		display: block;
	}
	.navigation nav > ul li.menu-item-has-children > a{
		background: #426db5;
	}
	.navigation nav > ul > li > a:visited, .navigation nav > ul > li > a:active {
		color: white;
	}
	.navigation nav .sub-menu {
		position: static;
		width: auto;
	}
	.navigation nav .sub-menu li a {
		padding: 10px;
	}
}

